# Python
__pycache__/
*.pyc
*.pyo

# Checkpoints & large models (do NOT commit)
*.pth
*.pt

# Datasets (keep processed labels, ignore raw/heavy)
datasets/**/raw/
datasets/**/tmp/
datasets/**/cache/
# keep labels.csv if it exists
!datasets/**/labels.csv

# Runs & intermediates
runs/
!runs/eval/
!runs/eval/*.csv
!runs/eval/*.png
!runs/eval/error_sets/*.csv

# Notebooks & local env
.ipynb_checkpoints/
.env
.venv/
*.log

# IDE / OS junk
.vscode/
.DS_Store
